*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:'poppins';


}
:root{
    --background:rgb(32, 27, 27);
    --second-background:rgb(20 20 20);
}
body{
    min-height: 100vh;
    background-color:var( --background);
}
nav{
    position:fixed;
    top:0;
    width:100vw;
    padding: 2em 15%; 
    background-color:rgb(26, 22, 22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    backdrop-filter:blur(10px);

}
ul{
    display: flex;
    align-items: center;
    gap:4em;
}
nav ul a{
    color:white;
    opacity: 0.7;
    transition:0.2s ease-in-out ; 
    font-size: 1.5em;

}
nav ul a:hover{
    opacity:1;
    color:rgba(197, 20, 53, 0.956);
}
.logo {
    font-size:2.5em;
    color:white;
    font-weight:800px;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity:1;
}
.btn{
    padding:0.5em 1em;
    color:white;
    font-weight:500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size:1.3em;
    cursor: pointer;
    border:2px solid white;
    transition:0.4s;

}
.btn:hover{
    background-color:black;
    color:white;
}
span{
background:linear-gradient(to right,#ce0d16,#e61c1c); 
background-clip: text;
color: transparent;
}
#menu{
    color:white;
    font-size:2.3em;
}
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color:white;

}
#home img{
        width:15vw;
        height:15%;
        border-radius:50%;
        margin-top: 3em;
        background-size: cover;
}
.info-box{
    display: flex;
    flex-direction:column;
    text-align: center;
    gap:0.5em;
    max-width: 600px;
}
.info-box h1{
    font-size: 3em;
    font-weight: 500;

}
.info-box h3{
    font-size:2em;
    font-weight: 400;
}
.info-box p{
    opacity: 0.7;
    font-size:1.2em;
}
.btn-box{
    display: flex;
    gap:1.5em
}
.btn-box .btn:nth-of-type(2){
     background-color:white; 
     color: var(--background);
}
.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
}
 ::-webkit-scrollbar{
    width:20px;
    background-color: var(--background);

}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom ,#3424e4,#d69718);

} 
#about{
    background-color: var(--second-background);
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5em;

}
  #about img{
        width:25vw;
        border-radius:0.5em;
        border:3px solid white;
        height: 40%;
        transition:0.2s;
        
} 
#about img:hover{
    border:4px solid red;

} 
.about-box{
    
}

.about-box{
    display: flex;
    text-align:left;
    flex-direction:column;
    gap:3em;
   
}
.about-box h1{
    font-size: 5em;
}
.about-box p{
    color:white;
    opacity:0.8;
    font-size:1.6em;

}
.skills{
    display:flex;
    text-align:left;
    gap:5em;
}
.skill{
    color: white;
    text-decoration: underline;
}
.skills ul{
    font-size: 1.5em;
    display: flex; 
    font-weight:500px;
    color:white;
    flex-direction:column;
    opacity: 0.8;
    align-items: baseline;
    
}
.skills ul li { 
    display: flex;
    gap:0.1em;
    font-size:0.9em;
    transition:0.3s;
    
}

.skills ul li i{
    font-size: 0.8em;
}
.project{
    display: flex;
    color:white;
    font-size: 1.5em;
}

.projects{
    color: white;
    text-decoration: underline;

}
.about-box h2{
    font-size:2.5em;
}
#services{
    background-color:var(--background);

}
.header{
    font-size:5em;
    text-align: center;
    margin:0.3em 0;
}
.services-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.box{
    border:3px solid rgba(49,49,49);
    border-radius:0.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    object-fit: cover;
    color: white;
    cursor: pointer;
    padding:3em;
    gap:2em;
    transition:0.3s;


}
.box:hover{
    border: 3px solid rgb(90,80,80);
}
.box p{
    opacity:0.8;
    font-size:1.2em;

}
.box h1{
    font-size: 2em;
}
.box img{
    min-width:25px;
    border-radius: 0.5em;
 }
  .web{
    width:300px;
    height:190px;
 } 
#contact{
    background-color: var(--second-background);
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
    flex-direction: column;

}
form .input-box{
    display:flex;
    align-items: baseline;
    gap:1em;
    flex-direction: column;
}
.form{
    font-size: 1.3em;
    color: azure;
}
form input {
    font-size: 1.2em;
    padding: 1em 3em;
    border: none;
    outline: none;
    border-radius: 0.5em;

}
.btn1{
    padding:0.6em 3em;
    color:white;
    font-weight:500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size:1.1em;
    cursor: pointer;
    border:2px solid white;
    background-color:black;
    transition:0.4s;

}
.btn1:hover{
    background-color:white;
    color:black;
}
form input:focus{
    background:rgb(112, 186, 203);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10em;
    background-color: var(--background);
    bottom: 0;
    width:100vw;
    padding: 5em 15%;

}
.col-left{
    gap:1em;
    flex-direction: column;
    display: flex;
}
.col-box{
display: flex;
align-items: center;
gap:1em;
}
.col-box i{
    font-size: 1.3em;
}
.col-box span{
    font-size: 1.3em;
    color:white;
}
.col-right{
    display: flex;
    gap:1em;
    color: white;
    flex-direction: column;
    max-width: 500px;
}

.col-right span {
    font-size: 1.9em;
} 
.last{
    font-size:1.2em;
}
.col-box .socialmedia-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap:1em

}
#lasticon{
    color: azure;
}
.col-right .socialmedia-icons{
    font-size: 2em;
    transition:0.3s;
    cursor: pointer;
}
.socialmedia-icons i:hover{
    color: white;
}

 /* @media only screen and(max-width:970px){
    section{
        padding:8em 15%;
    }
    nav .btn{
        display: none;
    }
    #menu{
         display: none; 
    } 
    .links{
        position: absolute;
        top:100%;
        right: 0%;
        width:100vw;
        padding:1em 3em;
        color: white;
        text-align: center;
        flex-direction: column;
        background-color: rgb(5, 5, 5);
        display: none;

    }
    .links a{
        margin:2em 0;
        color: white;
        font-size: 1.5em;
        display: block;
    }
    .links.active{
        display: block;
    }
    #home h1{
        font-size: 4em;

    }
    #home h3{
        font-size: 2em;
    }
    home img{
        width:24vw;
    }
    #about{
        flex-direction: column;
    }
    #about img{
        width:32vw;
       
    }
    #about h1{
        font-size: 3em;
       
    }
    #about ul{
        font-size: 1.2em;
        
    }


}
@media(max-width:770px){
    #home h1{
        font-size: 2.5em;

    }
    #home h3{
        font-size: 1.3em;
    }
    home img{
        width:30vw;
    }
    #about .skills{
        gap:3em

    }
    #services.header{
        font-family: 3em;
    }
    #contact.header{
        font-family: 3em;
    }
    #contact.input-box span{
        font-size: 1.2em;

    }
    .input-box input{
        padding: 0.5em 1em;
    }
    footer{
        flex-direction: column;
        gap:5em;
        align-items: baseline;
    }

    
}  */




 

